
html,body{
  color: rgba(117, 79, 68, 0.8);
  position: relative;
  height: 100%;
  font-family: 'Kaisei Decol', serif;
}
.link{
  margin-top: 3%;
}
.error_msg{
  color: #F6AA00;/*オレンジ*/
}
.return_top{
  text-align: right;
  margin: auto;
  width: 100%;
  color: rgba(117, 79, 68, 0.8);
  margin-top: 2%;
}
.return_top a{
  color: rgba(117, 79, 68, 0.8);
  font-size: 1.7rem;
}
.login-container{
  position: relative;
  width: 50%;
  height: 70vh;
  margin: 80px auto;
  padding: 20px 40px 40px;
  text-align: center;
  background: #fff;
  border: 1px solid rgba(117, 79, 68, 0.8);
}

#output{
  position: absolute;
  width: 300px;
  top: -75px;
  left: 0;
  color: #fff;
}

#output.alert-success{
  background: rgb(25, 204, 25);
}

#output.alert-danger{
  background: rgb(228, 105, 105);
}


.login-container::before,.login-container::after{
  content: "";
  position: absolute;
  width: 100%;height: 100%;
  top: 3.5px;left: 0;
  background: #fff;
  z-index: -1;
  -webkit-transform: rotateZ(4deg);
  -moz-transform: rotateZ(4deg);
  -ms-transform: rotateZ(4deg);
  border: 1px solid rgba(117, 79, 68, 0.8);

}

.login-container::after{
  top: 5px;
  z-index: -2;
  -webkit-transform: rotateZ(-2deg);
  -moz-transform: rotateZ(-2deg);
  -ms-transform: rotateZ(-2deg);

}

.avatar{
  width: 100px;height: 100px;
  margin: 10px auto 30px;
  background-size: cover;
}

.form-box input{
  width: 100%;
  padding: 10px;
  text-align: center;
  height:40px;
  border: 1px solid rgba(117, 79, 68, 0.8);
  background: #fafafa;
  transition:0.2s ease-in-out;
}

.form-box input:focus{
  outline: 0;
  background: #eee;
}

.form-box input[type="text"]{
  border-radius: 5px 5px 0 0;
  text-transform: lowercase;
}

.form-box input[type="password"]{
  border-radius: 0 0 5px 5px;
  border-top: 0;
}

.form-box button.login{
  margin-top:15px;
  padding: 10px 20px;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}
input[type="text"],
input[type="email"],
input[type="password"] {
  background-color: #fdf8db;
  border: 1px solid #705339;;
  color: #705339;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
  background:rgba(255,233,88,0.8);
  color:#3f3531;
  border:1px solid rgba(255,233,88,0.8);
}
.login{
  background-color:#705339;
  border: 1px solid #705339;
  color: #fff;
}
.login:hover,
.login:focus{
  background-color:#ff9467;
  border: 1px solid #ff9467;
  color:#fff;
}
.icon-primary{
  font-size: 7vw;
}
.text-primary {
  --bs-text-opacity: 1;
  color: rgba(117, 79, 68, 0.8);
}
a{
  color: rgba(117, 79, 68, 0.8);
}
a:hover,
a:focus{
  color: #ff9467;
}
@media (max-width: 768px) {
  .avatar{
    display: none;
  }
}
